* {
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 16px;
  font-weight: 700;
  color: #d4d4d4;
  background-color: #1e1e1e;
}

#clock,
#cpu,
#memory,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  padding: 10px;
}

#bluetooth,
#network.disconnected,
#workspaces button,
#pulseaudio.muted {
  opacity: 0.25;
}

#bluetooth.on,
#network,
#workspaces button.active {
  opacity: 1;
}

#battery.warning {
  color: red;
}
